 <div class="ratings">
   <div id="final-rating" style="--rating:<%= last_star_percentage(product) %>%" class="center-ratings">
     <%= render 'spree/reviews/stars', stars: product.stars %>
   </div>

  <div class="row">
    <div class="based-on col mb-2">
      <span style="padding-right: 10px;">
        <%= accurate_average(product) %>
        <span class="text-secondary" style="text-transform: lowercase;">
          <%= Spree.t(:average) %>
        </span>
      </span>  <%= product.reviews_count %>

      <span class="text-secondary" style="text-transform: lowercase;">
        <%= Spree.t(:reviews) %>
      </span>
    </div>
  </div>
</div>
