<div class="card my-5 review">
  <div class="card-body">
    <h4 class="card-title"><%= review.title %></h4>
    <p class="card-text"><%= simple_format(review.review) %></p>
  </div>
  <div class="card-body">
    <span class="reviews-rating d-inline-block">
      <%= render 'spree/reviews/stars', stars: review.rating %>
    </span>
    <p class="card-text">
      <strong>
        <% if review.show_identifier %>
          <% if SpreeProductReviews::Config[:show_email] && review.user %>
            <span itemprop="author"><%= review.user.email %></span>
          <% else %>
            <span itemprop="author"><%= review.name %></span>
        <% end %>
        <% else %>
          <span itemprop="author"><%= Spree.t(:anonymous) %></span>
        <% end %>
      </strong>
      -
      <%= localize review.created_at.to_date %>
    </p>
  </div>
</div>
