<div class="card my-5 review">
  <div class="card-body pb-0">
    <h4 class="card-title"><%= review.title %></h4>
    <p class="card-text"><%= simple_format(review.review) %></p>
  </div>
  <div class="card-body pt-0">
    <div class="reviews-rating d-inline-block">
      <%= render 'spree/reviews/stars', stars: review.rating %>
    </div>
    <p class="card-text">
      <strong>
        <span><%= review.name %></span>
      </strong>
      -
      <%= localize review.created_at.to_date %>
    </p>
    <% if review.reply.present? %>
    <hr>
      <blockquote>
        <%= simple_format(review.reply) %>
      </blockquote>
    <% end %>
  </div>
</div>
